@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300&display=swap");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Roboto;
}
header h2{
    font-size:24px;
    color: #F9FAF8;
}
h1{
    font-size:48px;
    font-weight: 900;
    color: #F9FAF8;
}
.head-container{
    background-color: #1F2937;
    color: white;
    padding-bottom: 10em;
}
.container{
    margin: 0 auto;
    width: 70%;
}

.link-container{
    display:flex;
    gap: 25px;
}

.link-container a, .head-text-content p{
    font-size: 18px;
    color: #E5E7EB;
}

.head-content{
    margin-top: 8em;
    display:flex;
    justify-content: space-between;
    gap: 20px;
}

.head-text-content{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
}
.head-text-content p{
    margin-top: 1em;
}
.head-button{
    padding: 0.5em 2em;
    background-color: #3882F6;
    color:white;
    font-size:1em;
    font-weight: 900;
    border-radius: 5px;
    border: none;
    margin-top: 1.5em;
}

.head-img{
    width: 500px;
    height: auto;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.25em 0em;
}

a{
    text-decoration: none;
    color:white;
}

.first-section h1{
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}
.first-section{
    margin: 3em auto 7em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}
.item{
    border: 3px solid #3882F6;
    border-radius: 20px; 
    height: 150px;
    width: 150px;
}
.items-container{
    display:flex;
    gap: 60px;
}
.item-container{
    display:Flex;
    flex-direction: column;
    align-items: center;
    max-width: 150px;
}
.item-container p {
    margin-top: 0.25em;
    font-size: 1rem;
    text-align: center;
}